ul {
    list-style: none;
}
.brands-wrapper {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.list__item--new {
    opacity: 0;
}

.buttons-wrapper {
    margin-left: 15px;
}

.button-order {
    margin-bottom: 5px;
    padding: 0 25px;
    background-color: rgb(109, 109, 255);
    border-radius: 2px;
}

@keyframes fade {
    from {
      opacity: 0;
      visibility: hidden;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
}

.item--visible {
    opacity: 1;
      visibility: visible;
}
